{% extends "header.html" %}
{% block content %}

<h1>Most Reviewed</h1>
{% for item in most_reviewed %}
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('show_reviews', id=item['book_id'])}}">{{ item['book_name'] }}</a></h5>
            <h6 class="card-title">Number of reviews: {{ item['review_count'] }}</h5>
            </div>
        </div>
        </div>
    </div>
{% endfor %}

{% endblock %}