apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: webapp
  template:
    metadata:
      labels:
        app.kubernetes.io/name: webapp
    spec:
      containers:
      - command:
        # - python
        # - main.py
        - gunicorn
        - --bind
        - 0.0.0.0:5000
        - main:app
        - --log-level
        - debug
        - --timeout
        - "180"
        envFrom:
        - configMapRef:
            name: db-cm
        image: alterius/ibdb
        imagePullPolicy: Always
        name: webapp
        ports:
        - containerPort: 5000
          name: http
        resources:
          requests:
            memory: "4Gi"
            cpu: "2000m"


