apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: webapp
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: webapp
  template:
    metadata:
      labels:
        app.kubernetes.io/name: webapp
    spec:
      containers:
      - command:
        - gunicorn
        - --bind
        - "0.0.0.0:5000"
        - main:app
        envFrom:
        - configMapRef:
            name: db-cm
        image: alterius/ibdb
        imagePullPolicy: Always
        name: webapp
        ports:
        - containerPort: 5000
          name: http
